* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  margin-top: 2em;

}
.App h1 {
  margin-bottom: 1em;
  font-size: 50px;
}
.story-container {
  border: 1px solid gray;
  display: flex;
  flex-direction: row;
  text-align: left;
  margin: .5em;
}
.title-link {
  text-decoration: none;
  color:rgb(61, 156, 217);

}
.title-link:hover {
  color: rgb(14, 86, 195);
}
.title {
  margin-bottom: .7em;
}
.author-text {
  margin: 1em .5em 0 0em;
  font-size: 13px;
}
.author-container {
  display: flex;
}
.author {
  color: black;
  margin-left: .4em;
}
.author:hover {
  text-decoration: underline;
  cursor: pointer;
  color: red;
}
.author-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-bottom: .3em;
}
.story-img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin: 0 1em 0 1.5em;
  padding: .5em 0;
  position: relative;
}
.story-img::selection,
.votes::selection {
  background-color: transparent;
}
.arrow-container {
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.arrow-up-icon,
.arrow-down-icon {
  text-align: center;
  color: gray;
}
.arrow-up-icon:hover {
  cursor: pointer;
  color: rgb(204, 54, 54)
}
.arrow-down-icon:hover {
  cursor: pointer;
  color: rgb(28, 29, 161);
}

.votes {
  position: absolute;
}
.tags {
  font-weight: bold;
  font-size: 11px;
  margin: .8em;
  display: flex;
}
.tag {
  list-style-type: none;
  margin-right: .3em;
}
.tag:hover {
  text-decoration: underline;
  cursor: pointer;
}
.bug-icon {
  font-size: 80px;
  color: rgb(209, 59, 68);
}
.not-found-num {
  color: rgb(44, 26, 198);
  font-size: 60px;
}
.not-found-text {
  margin-top: .5em;
  font-size: 35px;
}
